div {
  outline:1px solid black;
}
div {
  vertical-align: middle;
  text-align: center;
  /* vertical-align: middle; */
  /* margin:50% auto; */
}
body{
  max-width: 960px;
  /* margin: 0 auto; */
}

